<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <title>Tasin Bazar</title>
</head>
<body>
    <section id="header">
        <a href="#"><img src="https://clipartcraft.com/images/amazon-logo-transparent-font-2.png" alt="image" class="logo"></a> 
        
        <div>
            <ul id="navbar">
               <li><a href="index.html">Home</a></li>
               <li><a class="active" href="shop.html">Shop</a></li>
               <li><a href="blog.html">Blog</a></li>
               <li><a href="about.html">About</a></li>
               <li><a href="contact.html">Contact</a></li>
               <li id="lg-bag"><a href="cart.html"><i class="far fa-shopping-bag"></i></a></li>
               <a href="#" id="close"><i class="far fa-times"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href="cart.html"><i class="far fa-shopping-bag"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>
     
    <section id="prodetails" class="section-p1">
        <div class="single-pro-image">
            <img src="/uploads/<%= product[0].photo %>" width="100%" id="MainImg"
            alt=""/>
            <div class="small-img-group">
                <div class="small-img-col">
                    <img src="/uploads/<%= product[0].photo %>" width="100%" class="small-img"
                    alt=""/>
                </div>
                <div class="small-img-col">
                    <img src="/uploads/<%= product[0].photo %>" width="100%" class="small-img"
                    alt=""/>
                </div>
                <div class="small-img-col">
                    <img src="/uploads/<%= product[0].photo %>" width="100%" class="small-img"
                    alt=""/>
                </div>
                <div class="small-img-col">
                    <img src="/uploads/<%= product[0].photo %>" width="100%" class="small-img"
                    alt=""/>
                </div>
            </div>
        </div>

        <div class="single-pro-details">
            <h5><%= product[0].category %></h5>
            <h4><%= product[0].name %></h4>
            <h2>BDT <%= product[0].price %></h2>
            <select>
                <option>Select Size</option>
                <option>XL</option>
                <option>XXL</option>
                <option>Small</option>
                <option>M</option>
                <option>L</option>
            </select>
            <input type="number" value="1">
            <button class="normal">Add To Cart</button>
            <h4>Product Details</h4>
            <span>The Gildan ultra cotton T-shirt is made from a substantial
                6.0 oz.per sq. yd. fabric constructed from 100% cotton, this 
                classic fit preshrunk jersey knit provides unmatched comfort
                with each wear. Featuring a taped neck and shoulder, and a 
                seamless double-needle collar, and available in a range of colors
                , it offers it all in the ultimate head-turning package.
            </span>
        </div>
    </section>

    <section id="product1">
        <h2>Featured Products</h2>
        <p>Summer Collection New Modern Design</p>
        <div class="pro-container">
            <% for(let i = 0; i < 4; i++) { %>
                <a href="/single_product.html?product_id=<%= data[i].id %>">
                    <div class="pro">
                        <img src="/uploads/<%= data[i].photo %>" alt="product image">
                        <div class="des">
                            <span><%= data[0].Brand %></span>
                            <h5><%= data[0].name %></h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4>BDT <%= data[0].price %></h4>
                        </div>
                        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                    </div>
                </a>
            <% } %>
        </div>
    </section>

    <section id="newsletter" class="section-p1">
        <div class="newstext">
            <h4>Sign Up For Newsletters</h4>
            <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your email address"/>
            <button class="normal">Sign Up</button>
        </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <h4>Contact</h4>
            <p><strong>Address:</strong></p>
            <p><strong>Phone:</strong></p>
            <p><strong>Hours:</strong> 10:00-18:00 Mon-Sat</p>
            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>

        <div class="col">
            <h4>My Account</h4>
            <a href="/login.html">Sign In</a>
            <a href="/cart.html">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>
    </footer>

    <script>
        var MainImg = document.getElementById("MainImg");
        var small = document.getElementsByClassName("small-img");

        small[0].onclick = function(){
            MainImg.src = small[0].src;
        }
        small[1].onclick = function(){
            MainImg.src = small[1].src;
        }
        small[2].onclick = function(){
            MainImg.src = small[2].src;
        }
        small[3].onclick = function(){
            MainImg.src = small[3].src;
        }
    </script>

    <script src="script.js"></script>
</body>
</html>